
<section class="results-section">
<div class="heading">
    <h1>Results for <%= query %></h1>
</div>
  <% if (!data) { %>
    <p>No data</p>
<% } else { %>

    <ul class="results-list">
        <% data.forEach(item => { %>
            <li>
                <a href="/products/<%= item.id  %>">
                    <%= item.name %>
                    <div>
                     <img src="<%= item.image %>" alt="image of <%= item.brands %>.">
                    </div>
                </a>
            </li>
        <% }) %>
    </ul>
<% } %>

  
</section>
